@tailwind components;
@tailwind utilities;

@media (max-aspect-ratio: 1/1) {
  /* Only apply these styles on mobile devices */
  html {
    height: 100%;
  }

  body {
    height: calc(var(--vh, 1vh) * 100);
  }
  html,
  /*this stops the page from scrolling when you scroll past the top or bottom of the page*/
  body {
    overscroll-behavior-y: contain;
    overscroll-behavior-x: contain;
  }
  /* Define the variable */
  :root {
    --vh: 1vh;
  }
}
